<div class="bg">

</div>

<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <div class="page-header">
        <h1 style="color: black">Lucy (2014 Film) <small>Source: Wikipedia</small></h1>
      </div>
    </div>
  </div>

  <div class="row" style="line-height: 2em;">

    <div class="col-md-6 col-md-offset-1">
      Lucy is a 2014 English-language French science fiction action film written and directed by Luc Besson and produced by his wife Virginie Silla for his company Europacorp. The film was shot in Taipei, Paris and New York City. It stars Scarlett Johansson, Morgan Freeman, Amr Waked and Choi Min-sik. Johansson portrays the title character, a woman who gains psychokinetic abilities when a nootropic drug is absorbed into her bloodstream.

      The film was released on July 25, 2014, and became a box office success,[5] grossing over $458 million against a budget of $40 million. It received mainly positive, but also polarized, critical reviews, with praise for Johansson's performance, entertaining or intriguing themes and visuals, and criticism for having a nonsensical plot, especially its focus on the ten percent of brain myth and resulting abilities.[5][6][7]
      <br>
      Lucy is a 25-year-old American woman living and studying in Taipei, Taiwan. She is tricked into working as a drug mule by her new boyfriend, whose employer, Mr. Jang, is a Korean mob boss and drug lord. Lucy delivers a briefcase to Mr. Jang containing a highly valuable synthetic drug called CPH4. After seeing her boyfriend shot and killed, she is captured and a bag of the drug is forcibly sewn into her abdomen and that of three other drug mules who will also transport the drug for sale in Europe. While Lucy is in captivity, one of her captors kicks her in the abdomen, breaking the bag and releasing a large quantity of the drug into her system. As a result, she begins acquiring increasingly enhanced physical and mental capabilities, such as telepathy, telekinesis, mental time travel, and the ability not to feel pain or other discomforts. She kills off her captors and escapes.

      Lucy travels to the nearby Tri-Service General Hospital to get the bag of drugs removed from her abdomen. The bag is successfully removed, and Lucy is told by the operating doctor of the volatile nature of the drug, based on a substance given to fetuses during prenatal development, and its destructive side-effects. Sensing her growing physical and mental abilities, Lucy returns to Mr. Jang's hotel, kills his bodyguards, assaults Mr. Jang, and telepathically extracts the locations of all three drug mules from his brain.

      At her shared apartment, Lucy begins researching her condition and contacts a well-known scientist and doctor, Professor Samuel Norman, whose research may be the key to saving her. After Lucy speaks with the professor and provides proof of her developed abilities, she flies to Paris and contacts a local police captain, Pierre Del Rio, to help her find the remaining three packets of the drug. During the plane ride, she starts to disintegrate as her cells destabilize from consuming a sip of champagne, which made her body inhospitable for cellular reproduction. Only by consuming more CPH4 is she able to prevent her total disintegration. Her powers continue to grow, leaving her able to telepathically incapacitate armed police and members from the Korean drug gang. With the help of Del Rio, Lucy recovers the drug and hurries to meet Professor Norman, with whom she agrees to share everything she now knows, after he points out that the main point of life is to pass on knowledge, something she now possesses an infinite capacity for. Jang and the mob also want the drug and a gunfight ensues with the French police.
    </div>
    <div class="col-md-3">
      Scarlett Johansson as Lucy, an unwilling drug mule who is accidentally dosed with a drug that activates a myriad of pre-encoded genetic conscious capabilities:
      The role of Lucy called for "an actress who could be believable as extremely vulnerable, as well as superpowered, when her exposure to an illicit substance inadvertently makes her acquire incredible skills." Impressed by Johansson's discipline, Besson reached out to her for the role, stating that she was immediately precise and professional, and he "enjoyed the way she talked about [the film]." He said, "She was excited for the right reason, which was the story. At that moment, it was a done deal for me. She was definitely the one."[9] Angelina Jolie is widely reported to have been originally cast as Lucy,[10][11][12] and as having dropped out of the role prior to filming.[13] Although Jolie was in "serious talks" with Besson since 2011 to star in his next directorial effort, then-untitled,[14][15] he stated that she was not his first choice for the role of Lucy and has implied that Johansson was, once she won the role.[10]
      Morgan Freeman as Professor Samuel Norman:
      Besson's wife and producer of the film, Virginie Silla, stated that given Freeman's experience portraying a character of wisdom, "it was pretty obvious that he was the perfect actor" for the role of Professor Norman.[9]
      Choi Min-sik as Mr. Jang:
      Besson said that Mr. Jang is the "best villain" he scripted since Gary Oldman's character, Norman Stansfield, adding that "Whereas Lucy is the ultimate intelligence, Mr. Jang is the ultimate devil." Besson and his film team "had to go and meet [Choi] in Korea, talk with him and discuss the story. And it was only at the very end that he said, 'Okay, I'm interested, I want to be in.'"[9]
      Amr Waked as Pierre Del Rio:
      Besson stated that "Del Rio represents the audience; he's basically you and me," adding that when Lucy has "lost all her emotions by being exposed to the drug," there exists "a tiny spark of emotion that's still there" when she is with Del Rio. Waked said that Besson having written the script was enough for him to want to star in the film.[9]
      Julian Rhind-Tutt as the polite English 'baddie'[9]
      Pilou Asbæk as Richard[9]
      Analeigh Tipton as Caroline[9]
      Nicolas Phongpheth as Jii[9]
    </div>
  </div>
</div>


<!-- <%= image_tag "lucy.jpg", class: 'img-responsive' %> -->
